{{ with .context }}
	{{ if ne .IsHome true }}
		{{ $breadcrumbs := slice (dict "name" "Home" "url" "/") }}

		{{ if eq .Kind "term" }}
			{{ with .CurrentSection }}
				{{ $breadcrumbs = $breadcrumbs | append (dict "name" .Title "url" .RelPermalink) }}
			{{ end }}
		{{ end }}

		{{ if .Params.category }}
			{{ $category := index (.GetTerms "category") 0 }}
			{{ $breadcrumbs = $breadcrumbs | append (dict "name" $category.Title "url" $category.RelPermalink) }}
		{{ end }}

		{{ $breadcrumbs = $breadcrumbs | append (dict "name" .Title "url" .RelPermalink) }}
		{{ $breadcrumbCount := len $breadcrumbs }}

		<nav
			aria-label="Breadcrumb"
			class="{{ with $.class }}{{ . }}{{ else }}breadcrumbs{{ end }}"
		>
			<ol
				itemscope
				itemtype="https://schema.org/BreadcrumbList"
			>
				{{ range $i, $breadcrumb := $breadcrumbs }}
					<li
						itemprop="itemListElement"
						itemscope
						itemtype="https://schema.org/ListItem"
					>
						<a
							itemprop="item"
							href="{{ $breadcrumb.url }}"
							{{ if eq (add $i 1) $breadcrumbCount }}aria-current="page"{{ end }}
						>
							<span itemprop="name">{{ $breadcrumb.name }}</span>
						</a>

						<meta itemprop="position" content="{{ add $i 1 }}" />
					</li>

					{{ if lt (add $i 1) $breadcrumbCount }}
						<li>/</li>
					{{ end }}
				{{ end }}
			</ol>
		</nav>
	{{ end }}
{{ end }}
