<div class="post__share">
	<a
		href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}"
		rel="noopener noreferrer"
		target="_blank"
		aria-label="Facebook"
	>
		{{ with resources.GetRemote "https://github.com/feathericons/feather/raw/master/icons/facebook.svg" }}
			{{ .Content | replaceRE "<svg" "<svg aria-hidden=\"true\"" | safeHTML }}
		{{ end }}
	</a>
	<a
		href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink  }}&title={{ .Title }}&summary={{ .Title }}&source={{ .Site.BaseURL }}"
		rel="noopener noreferrer"
		target="_blank"
		aria-label="LinkedIn"
	>
		{{ with resources.GetRemote "https://github.com/feathericons/feather/raw/master/icons/linkedin.svg" }}
			{{ .Content | replaceRE "<svg" "<svg aria-hidden=\"true\"" | safeHTML }}
		{{ end }}
	</a>
	<a
		href="https://twitter.com/intent/tweet/?text={{ .Title }}&url={{ .Permalink }}"
		rel="noopener noreferrer"
		target="_blank"
		aria-label="Twitter"
	>
		{{ with resources.GetRemote "https://github.com/feathericons/feather/raw/master/icons/twitter.svg" }}
			{{ .Content | replaceRE "<svg" "<svg aria-hidden=\"true\"" | safeHTML }}
		{{ end }}
	</a>
</div>
