<div class="post__share">
	<a
		href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}"
		rel="noopener noreferrer"
		target="_blank"
		aria-label="Facebook"
	>
		<span aria-hidden="true">
			{{ (resources.GetRemote "https://github.com/feathericons/feather/raw/master/icons/facebook.svg").Content | safeHTML }}
		</span>
	</a>
	<a
		href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink  }}&title={{ .Title }}&summary={{ .Title }}&source={{ .Site.BaseURL }}"
		rel="noopener noreferrer"
		target="_blank"
		aria-label="LinkedIn"
	>
		<span aria-hidden="true">
			{{ (resources.GetRemote "https://github.com/feathericons/feather/raw/master/icons/linkedin.svg").Content | safeHTML }}
		</span>
	</a>
	<a
		href="https://telegram.me/share/url?{{ .Title }}&url={{ .Permalink }}"
		rel="noopener noreferrer"
		target="_blank"
		aria-label="Telegram"
	>
		<span aria-hidden="true">
			{{ (resources.GetRemote "https://github.com/twbs/icons/raw/main/icons/telegram.svg").Content | safeHTML }}
		</span>
	</a>
	<a
		href="https://twitter.com/intent/tweet/?text={{ .Title }}&url={{ .Permalink }}"
		rel="noopener noreferrer"
		target="_blank"
		aria-label="Twitter"
	>
		<span aria-hidden="true">
			{{ (resources.GetRemote "https://github.com/feathericons/feather/raw/master/icons/twitter.svg").Content | safeHTML }}
		</span>
	</a>
</div>
