{{ define "main" }}
  <article
    class="flex-1 mx-auto py-2 w-full max-w-6xl space-y-6 md:space-y-10 lg:space-y-12 xl:py-4 xl:space-y-14"
  >
    <h1 class="font-serif text-4xl font-bold md:text-5xl lg:text-6xl">
      {{- .Title -}}
    </h1>

    <div
      class="flex flex-col 2xl:gap-16 gap-8 items-center md:flex-row lg:gap-10 xl:gap-12"
    >
      {{ with .Site.Params.staticFormsAccessKey }}
        <div class="w-full md:w-1/2">
          <div
            class="email-sent hidden p-4 text-green-900 bg-green-200 rounded-md"
          ></div>

          <div
            class="email-failed hidden p-4 text-red-900 bg-red-100 rounded-md"
          ></div>

          <form
            action="#"
            name="contact-form"
            class="flex flex-col gap-4 sm:gap-6 lg:text-lg xl:text-xl"
          >
            <input type="hidden" name="accessKey" value="{{ . }}" />

            <input type="hidden" name="replyTo" value="@" />

            <label class="block">
              <span class="text-gray-700">Name:</span>
              <input
                type="text"
                name="name"
                required
                class="block mt-1 w-full border-gray-300 focus:border-red-300 rounded-md shadow-sm focus:ring focus:ring-red-200 focus:ring-opacity-50"
              />
            </label>

            <label class="block">
              <span class="text-gray-700">E-Mail:</span>
              <input
                type="email"
                name="email"
                required
                class="block mt-1 w-full border-gray-300 focus:border-red-300 rounded-md shadow-sm focus:ring focus:ring-red-200 focus:ring-opacity-50"
              />
            </label>

            <label class="block">
              <span class="text-gray-700">Message:</span>
              <textarea
                name="message"
                rows="4"
                required
                class="block mt-1 w-full border-gray-300 focus:border-red-300 rounded-md shadow-sm focus:ring focus:ring-red-200 focus:ring-opacity-50"
              ></textarea>
            </label>

            <input
              type="submit"
              value="Send message"
              class="px-3 py-2 w-full text-white bg-red-600 hover:bg-opacity-70 rounded-md cursor-pointer duration-200 sm:col-span-2"
            />
          </form>
        </div>
      {{ end }}
      <div class="flex-1 2xl:space-y-12 space-y-6 xl:space-y-10">
        <h3 class="text-2xl font-bold md:text-3xl">
          Get in touch another way..
        </h3>
        {{- partial "theme/content.html" . -}}
        <ul class="space-y-2">
          {{ with .Site.Author.email }}
            <li class="space-x-1">
              {{ partial "svgs/mail-outline.svg" (dict "class" "h-6 w-6 inline") }}
              <span>{{- . -}}</span>
            </li>
          {{ end }}
        </ul>
        {{ with .Site.Author.social }}
          <ul class="inline-flex flex-wrap gap-4">
            {{ range $index, $value := . }}
              {{ with $value }}
                <li>
                  <a
                    href="{{- (index (where $.Site.Data.social "identifier" $index) 0).url -}}{{ $value }}"
                    target="_blank"
                    rel="noopener"
                    aria-label="{{- (index (where $.Site.Data.social "identifier" $index) 0).name -}}"
                  >
                    {{ partial (print "svgs/" $index ".svg") (dict "class" "h-7 xl:h-8 w-7 xl:w-8 hover:text-red-600 duration-200") }}
                  </a>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </article>
{{ end }}
