{{ define "main" }}
  <article
    class="{{ if eq .Kind "section" }}
      max-w-3xl
    {{ else }}
      max-w-4xl
    {{ end }} flex-1 mx-auto pt-2 space-y-6 md:space-y-10 lg:space-y-12 xl:py-4 xl:space-y-14"
  >
    <h1 class="font-serif text-4xl font-bold md:text-5xl lg:text-6xl">
      {{- if eq .Kind "term" }}
        {{ humanize .Data.Singular }}:
      {{ end -}}{{- .Title -}}
    </h1>
    {{- partial "theme/content.html" . -}}

    {{ if or (eq .Kind "taxonomy") (eq .Kind "term") }}
      {{ if eq .Kind "taxonomy" }}
        <ul class="flex flex-wrap gap-2">
          {{ range .Pages.ByTitle }}
            <li
              class="bg-gray-100 hover:bg-red-200 rounded transition-colors duration-200"
            >
              <a href="{{ .RelPermalink }}" class="block px-4 py-2 lg:text-lg">
                {{- .Title -}}
              </a>
            </li>
          {{ end }}
        </ul>

        <section class="py-2 space-y-4">
          <h3 class="text-2xl md:text-3xl">Most recent posts:</h3>
          <div class="grid gap-4 grid-cols-1 sm:gap-6 sm:grid-cols-2 md:gap-10">
            {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" "post") }}
              {{- partial "theme/post-card.html" . -}}
            {{ end }}
          </div>
        </section>
      {{ else }}
        <div class="space-y-4 xl:space-y-8">
          <div class="grid gap-4 grid-cols-1 sm:gap-6 sm:grid-cols-2 md:gap-10">
            {{ range (.Paginate (where .RegularPages.ByDate.Reverse "Type" "post")).Pages }}
              {{- partial "theme/post-card.html" . -}}
            {{ end }}
          </div>
          {{ partial "theme/pagination.html" . }}
        </div>
      {{ end }}
    {{ end }}
  </article>
  {{ if ne .Kind "section" }}
    {{ partial "sidebar.html" . }}
  {{ end }}
{{ end }}
