{{ define "main" }}
  <article class="flex-1 pt-2 space-y-4 sm:space-y-6 md:space-y-10 xl:py-4">
    <h1 class="font-serif text-3xl font-bold md:text-5xl lg:text-6xl">
      Latest posts
    </h1>
    {{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" "post") }}
    <section class="grid gap-4 grid-cols-1 sm:gap-6 sm:grid-cols-2 md:gap-10">
      {{ range $paginator.Pages }}
        {{- partial "theme/post-card.html" . -}}
      {{ end }}
    </section>
    {{ partial "theme/pagination.html" . }}
  </article>
  {{ partial "sidebar.html" . }}
{{ end }}
