{{- $original := resources.Get (print "img/" .src) -}}
{{ $converts := slice (dict "type" "image/webp" "format" "webp") (dict "type" "image/jpeg" "format" "jpg") }}
{{ $sizes := slice 128 240 320 375 425 640 768 1024 1280 1536 }}
{{ $originalExtension := index (split (path.Ext $original) ".") 1 }}
{{ $allowedExtension := slice "bmp" "jpeg" "jpg" "png" "tif" "webp" }}

{{ $limit := $original.Width }}
{{ with .limit }}
  {{ $limit = . }}
{{ end }}

{{ if in $allowedExtension $originalExtension }}
  <picture>
    {{ range $convert := $converts }}
      {{ $resized := slice }}
      {{ range $size := $sizes }}
        {{ if le $size $limit }}
          {{ $converted := $original.Resize (print $size "x" " " $convert.format) }}
          {{ $resized = $resized | append (print $converted.RelPermalink " " $size "w") }}
        {{ end }}
      {{ end }}
      <source
        sizes="(min-width: 640px) 50vw, 100vw"
        srcset="{{ delimit $resized ", " }}"
        type="{{ $convert.type }}"
      />
    {{ end }}
    {{ with .limit }}
      {{ $original = $original.Resize (print . "x") }}
    {{ end }}
    <img
      src="{{ $original.RelPermalink | safeURL }}"
      alt="{{ .alt }}"
      width="{{ $original.Width }}"
      height="{{ $original.Height }}"
      loading="lazy"
      {{ with .class }}class="{{ . }}"{{ end }}
    />
  </picture>
{{ else }}
  <img
    src="{{ $original.RelPermalink | safeURL }}"
    alt="{{ .alt }}"
    width="{{ $original.Width }}"
    height="{{ $original.Height }}"
    loading="lazy"
    {{ with .class }}class="{{ . }}"{{ end }}
  />
{{ end }}
