@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-white text-gray-700 text-base font-sans antialiased;
		@apply tracking-normal leading-normal;

		@media (prefers-color-scheme: dark) {
			@apply bg-gray-900 text-gray-200;
		}
	}
}

@layer components {
	.site-header__container,
	.site-main,
	.breadcrumbs,
	.post__content,
	.post-navigation,
	.site-footer__container {
		@apply w-full max-w-4xl mx-auto p-4 space-y-4;

		@media (min-width: 320px) {
			@apply p-6;
		}

		@media (min-width: 640px) {
			@apply p-8 space-y-6;
		}

		@media (min-width: 768px) {
			@apply p-10 space-y-8;
		}

		@media (min-width: 1024px) {
			@apply py-12 px-0 space-y-10;
		}
	}

	.post__content, .post-navigation {
		@apply py-0;
		max-width: 45rem;
	}

	.social-navigation a,
	.site-navigation a,
	.term-list a,
	.post-list__tags a,
	.post__share a {
		&:focus {
			@apply outline-none ring ring-gray-600 ring-offset-2;
		}
	}

	.term-list a, .post-list__tags a, .post__share a {
		&:focus {
			@apply ring-gray-700;
		}
	}

	.site-header {
		@apply bg-gray-100;

		@media (prefers-color-scheme: dark) {
			@apply bg-gray-800;
		}

		&__top {
			@apply flex flex-col gap-6;

			@media (min-width: 640px) {
				@apply flex-row justify-between items-center gap-12;
			}

			@media (min-width: 768px) {
				@apply gap-16;
			}

			@media (min-width: 1024px) {
				@apply gap-24;
			}
		}
	}

	.site-identity {
		@apply space-y-1;

		@media (min-width: 640px) {
			@apply flex-1 space-y-2;
		}

		@media (min-width: 768px) {
			@apply space-y-3;
		}

		@media (min-width: 1024px) {
			@apply space-y-4;
		}

		a {
			@apply font-bold text-gray-900 text-2xl;

			@media (min-width: 640px) {
				@apply text-3xl;
			}

			@media (min-width: 768px) {
				@apply text-4xl;
			}

			@media (prefers-color-scheme: dark) {
				@apply text-gray-50;
			}
		}

		p {
			@apply text-sm;

			@media (min-width: 640px) {
				@apply text-base;
			}

			@media (min-width: 768px) {
				@apply text-lg;
			}
		}
	}

	.social-navigation {
		@apply flex items-center gap-3 overflow-x-auto;

		a {
			@media (min-width: 640px) {
				@apply p-1 rounded;
			}

			&:hover {
				@media (min-width: 640px) {
					@apply bg-gray-300;
				}

				@media (prefers-color-scheme: dark) {
					@media (min-width: 640px) {
						@apply bg-gray-600;
					}
				}
			}

			&:focus {
				@apply ring-offset-0 ring-inset;
			}

			svg {
				@apply h-5 w-5;

				@media (min-width: 768px) {
					@apply h-6 w-6;
				}
			}
		}
	}

	.site-navigation {
		ul {
			@apply flex gap-2 overflow-x-auto;
			scrollbar-width: none;

			@media (min-width: 640px) {
				@apply gap-4;
			}

			@media (min-width: 768px) {
				@apply gap-6;
			}
		}

		a {
			@apply inline-block py-0.5 px-2 rounded-full border border-gray-300;

			@media (min-width: 768px) {
				@apply py-1 px-3 text-lg;
			}

			@media (prefers-color-scheme: dark) {
				@apply border-gray-600;
			}

			&:hover {
				@apply border-current;
			}

			&:focus {
				@apply ring-offset-0 ring-inset;
			}

			&[aria-current="page"] {
				@apply bg-gray-700 text-white border-gray-700;
			}
		}
	}

	.site-main {
		@apply flex flex-col py-14 gap-14 space-y-0;

		@media (min-width: 768px) {
			@apply py-18 gap-18;
		}

		&--post {
			@apply pt-0 px-0;
		}
	}

	.breadcrumbs {
		@apply pb-0 pt-14;

		@media (min-width: 768px) {
			@apply pt-18 text-lg;
		}

		&--post {
			@apply py-4;

			@media (min-width: 640px) {
				@apply py-6;
			}

			@media (min-width: 768px) {
				@apply py-8;
			}

			@media (min-width: 1024px) {
				@apply py-10;
			}
		}

		ol {
			@apply inline-block align-middle space-x-0.5;
		}

		li {
			@apply inline;
		}

		a {
			&:hover {
				@apply underline;
			}

			&:not([aria-current="page"]) {
				@apply font-bold text-gray-900;

				@media (prefers-color-scheme: dark) {
					@apply text-gray-50;
				}
			}
		}

		svg {
			@apply inline-block h-5 w-5;
		}
	}

	.bio {
		@apply flex gap-4 text-sm;

		@media (min-width: 640px) {
			@apply text-base;
		}

		@media (min-width: 768px) {
			@apply gap-6;
		}

		@media (min-width: 1024px) {
			@apply text-lg;
		}

		img {
			@apply w-14 object-cover rounded-full p-1 border border-gray-300;
			aspect-ratio: 1/1;

			@media (prefers-color-scheme: dark) {
				@apply border-gray-600;
			}
		}

		p {
			@apply flex-1;
		}
	}

	.term-list {
		@apply flex flex-wrap gap-2;

		@media (min-width: 640px) {
			@apply gap-4;
		}

		@media (min-width: 768px) {
			@apply text-lg;
		}

		a {
			@apply bg-gray-700 text-white py-0.5 px-2.5 rounded-full;

			@media (min-width: 640px) {
				@apply py-1 px-4;
			}

			&:hover {
				@apply text-gray-300;
			}
		}
	}

	.post-list {
		@apply space-y-6;

		@media (min-width: 640px) {
			@apply space-y-8;
		}

		@media (min-width: 768px) {
			@apply space-y-10;
		}

		@media (min-width: 1024px) {
			@apply space-y-12;
		}

		article {
			@media (min-width: 640px) {
				@apply flex gap-5;
			}

			@media (min-width: 768px) {
				@apply gap-6;
			}

			& > a {
				@apply block;

				@media (min-width: 640px) {
					@apply w-1/3;
				}

				img {
					@apply w-full object-cover;
					aspect-ratio: 16/9;
				}
			}

			header {
				@apply flex-1 flex flex-col gap-2 p-4 border-l border-r border-b;
				@apply border-gray-200;

				@media (min-width: 640px) {
					@apply p-0 border-none;
				}

				@media (min-width: 768px) {
					@apply gap-3;
				}

				@media (prefers-color-scheme: dark) {
					@apply border-gray-700;
				}

				& > a {
					@apply text-gray-900 text-xl;

					@media (prefers-color-scheme: dark) {
						@apply text-gray-50;
					}

					@media (min-width: 768px) {
						@apply text-2xl;
					}

					&:hover {
						@apply underline;
					}
				}

				h2 {
					@apply font-bold;
				}
			}
		}

		&__tags {
			@apply flex flex-wrap gap-2 text-sm;

			@media (min-width: 768px) {
				@apply gap-3;
			}

			a {
				@apply bg-gray-700 text-white inline-block py-0.5 px-2 rounded-full;

				@media (min-width: 768px) {
					@apply py-1 px-3;
				}

				&:hover {
					@apply text-gray-300;
				}
			}
		}

		&__meta {
			@apply text-sm;

			@media (min-width: 768px) {
				@apply text-base;
			}

			a {
				@apply font-bold;

				&:hover {
					@apply underline;
				}
			}
		}
	}

	.pagination {
		ul {
			@apply flex justify-center items-center py-4 gap-1;

			@media (min-width: 640px) {
				@apply gap-2;
			}

			@media (min-width: 768px) {
				@apply gap-4;
			}
		}

		a, span {
			@apply inline-flex items-center px-2 py-1 rounded;

			@media (min-width: 640px) {
				@apply px-3 py-2;
			}

			&:hover {
				@apply bg-gray-200;

				@media (prefers-color-scheme: dark) {
					@apply bg-gray-800;
				}
			}

			svg {
				@apply h-6 w-6;
			}
		}

		a {
			&[aria-label="Previous Page"], &[aria-label="Next Page"] {
				@apply p-1;

				@media (min-width: 640px) {
					@apply p-2;
				}
			}
		}

		span {
			&[aria-current="true"] {
				@apply bg-gray-700 text-white font-bold;

				&:hover {
					@apply bg-gray-700;
				}
			}
		}
	}

	.post {
		@apply space-y-6;

		@media (min-width: 640px) {
			@apply space-y-8;
		}

		@media (min-width: 768px) {
			@apply space-y-10;
		}

		@media (min-width: 1024px) {
			@apply space-y-12;
		}

		&__content {
			@apply space-y-4;

			@media (min-width: 640px) {
				@apply space-y-6;
			}

			@media (min-width: 768px) {
				@apply space-y-8;
			}

			@media (min-width: 1024px) {
				@apply space-y-10;
			}

			header {
				@apply space-y-2;

				@media (min-width: 640px) {
					@apply space-y-3;
				}

				@media (min-width: 768px) {
					@apply space-y-4;
				}

				@media (min-width: 1024px) {
					@apply space-y-5;
				}
			}

			h1 {
				@apply font-bold text-gray-900 text-3xl;

				@media (min-width: 768px) {
					@apply text-4xl;
				}

				@media (min-width: 1024px) {
					@apply text-5xl;
				}

				@media (prefers-color-scheme: dark) {
					@apply text-gray-50;
				}
			}
		}

		&__thumbnail {
			@apply w-full object-cover;
			aspect-ratio: 18/9;
		}

		&__info {
			@apply space-y-4;

			@media (min-width: 640px) {
				@apply flex justify-between items-center space-y-0;
			}
		}

		&__author {
			@apply flex items-center gap-2;

			@media (min-width: 768px) {
				@apply gap-4;
			}

			img {
				@apply w-10 h-10 p-0.5 object-cover border border-gray-300;
				@apply rounded-full;

				@media (min-width: 768px) {
					@apply w-14 h-14 p-1
				}

				@media (prefers-color-scheme: dark) {
					@apply border-gray-600;
				}
			}

			span {
				@apply inline-block;

				@media (min-width: 768px) {
					@apply text-lg;
				}
			}
		}

		&__share {
			@apply flex items-center gap-2;

			@media (min-width: 640px) {
				@apply gap-4;
			}

			a {
				@apply p-1.5 border border-gray-300 rounded-full;

				@media (min-width: 768px) {
					@apply p-2;
				}

				@media (prefers-color-scheme: dark) {
					@apply border-gray-600;
				}

				&:hover, &:focus {
					@apply bg-gray-700 text-white border-gray-700;
				}
			}

			svg {
				@apply h-5 w-5;

				@media (min-width: 768px) {
					@apply h-6 w-6;
				}
			}
		}
	}

	.post-navigation {
		@apply flex text-sm space-y-0;

		@media (min-width: 640px) {
			@apply text-base;
		}

		@media (min-width: 768px) {
			@apply text-lg;
		}

		&__item {
			@apply flex-1 space-y-2 pr-2;

			@media (min-width: 768px) {
				@apply space-y-4;
			}

			&--right {
				@apply text-right pr-0 pl-2;
			}

			span {
				@apply block;
			}

			a {
				@apply inline-block font-bold underline;

				&:hover {
					@apply no-underline;
				}
			}
		}
	}

	.article {
		@apply prose w-full mx-auto;
		max-width: 45rem;

		@media (min-width: 768px) {
			@apply prose-lg;
		}

		@media (min-width: 1024px) {
			@apply prose-xl;
		}

		@media (prefers-color-scheme: dark) {
			@apply text-gray-200;

			h1, h2, h3, h4, strong, a, blockquote {
				@apply text-gray-50;
			}

			hr, blockquote, tbody tr {
				@apply border-gray-700;
			}

			thead {
				@apply border-gray-600;
			}

			ol {
				& > li {
					&:before {
						@apply text-gray-400;
					}
				}
			}
		}

		&--fluid {
			@apply max-w-none;
		}

		a {
			&:hover {
				@apply no-underline;
			}
		}

		div {
			tbody {
				td {
					pre {
						@apply rounded-none;
					}

					&:first-child {
						pre {
							@apply rounded-l-md;

							@media (min-width: 1024px) {
								@apply rounded-l-lg;
							}
						}
					}

					&:last-child {
						pre {
							@apply rounded-r-md;

							@media (min-width: 1024px) {
								@apply rounded-r-lg;
							}
						}
					}
				}
			}
		}
	}

	.site-footer {
		@apply bg-gray-100 text-center;

		@media (prefers-color-scheme: dark) {
			@apply bg-gray-800;
		}

		&__container {
			@apply space-y-1;

			@media (min-width: 768px) {
				@apply space-y-2;
			}
		}

		a {
			@apply underline;

			&:hover {
				@apply no-underline;
			}
		}

		small {
			@apply text-gray-600;

			@media (prefers-color-scheme: dark) {
				@apply text-gray-400;
			}
		}
	}
}
