<aside class="flex-none py-8 w-full space-y-6 lg:p-0 lg:w-80">
  {{ with .Site.Author }}
    {{ if and (ne $.Type "about") (ne $.Type "authors") .widget }}
      <section class="flex flex-col gap-2 items-center">
        <div class="w-1/2">
          <figure class="aspect-w-1 aspect-h-1">
            {{ partial "internal/image.html" (dict "src" .image "limit" 240 "alt" .Site.Author.name "class" "w-full h-full object-cover rounded-full") }}
          </figure>
        </div>
        <h3 class="font-serif text-2xl font-bold">
          {{- .name -}}
        </h3>
        {{ with .bio }}
          <div>{{- . -}}</div>
        {{ end }}
        {{ with .social }}
          <div class="flex gap-3 items-center md:gap-4">
            {{ range $index, $value := . }}
              {{ with $value }}
                <a
                  href="{{- (index (where $.Site.Data.social "identifier" $index) 0).url -}}{{ $value }}"
                  target="_blank"
                  rel="noopener"
                  aria-label="{{ (index (where $.Site.Data.social "identifier" $index) 0).name }}"
                >
                  {{ partial (print "svgs/" $index ".svg") (dict "class" "h-5 w-5 hover:text-red-600 duration-200") }}
                </a>
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
        <a
          href="/about"
          class="block mt-4 px-3 py-2 text-center text-red-900 hover:text-white hover:bg-red-600 border border-red-600 rounded-md duration-200"
        >
          Know more
        </a>
      </section>
    {{ end }}
  {{ end }}

  {{ if or (eq .Kind "term") (ne .Type "category") }}
    <section>
      <header
        class="flex items-center justify-between py-4 text-xl sm:text-2xl"
      >
        <h3 class="text-black font-bold">Categories</h3>
        <a
          href="/category"
          aria-label="View all categories"
          class="px-1 py-0.5 text-xs font-normal bg-red-100 hover:bg-red-50 rounded duration-200 sm:text-sm"
        >
          View all
        </a>
      </header>
      <ul class="space-y-1">
        {{ range (first 5 .Site.Taxonomies.category.ByCount) }}
          <li
            class="flex items-center justify-between px-3 py-2 bg-gray-100 hover:bg-gray-50 rounded transition-colors duration-200"
          >
            <a
              href="{{ .Page.RelPermalink }}"
              class="hover:text-red-600 transition-colors duration-200"
            >
              {{- .Page.Title -}}
            </a>
            <span class="text-sm">({{ .Count }})</span>
          </li>
        {{ end }}
      </ul>
    </section>
  {{ end }}

  {{ if or (eq .Kind "term") (ne .Type "tags") }}
    <section>
      <header
        class="flex items-center justify-between py-4 text-xl sm:text-2xl"
      >
        <h3 class="text-black font-bold">Tags</h3>
        <a
          href="/tags"
          aria-label="View all tags"
          class="px-1 py-0.5 text-xs font-normal bg-red-100 hover:bg-red-50 rounded duration-200 sm:text-sm"
        >
          View all
        </a>
      </header>
      <ul class="flex flex-wrap gap-2">
        {{ range (first 12 .Site.Taxonomies.tags.ByCount) }}
          <li
            class="bg-gray-100 hover:bg-red-200 rounded transition-colors duration-200"
          >
            <a href="{{ .Page.RelPermalink }}" class="block px-3 py-1">
              {{- .Page.Title -}}
            </a>
          </li>
        {{ end }}
      </ul>
    </section>
  {{ end }}
</aside>
