{{ with .context }}
  {{ $author := dict "name" .Title "email" .Params.email "image" .Params.image }}
  {{ if eq .Title .Site.Author.name }}
    {{ $author = merge $author .Site.Author }}
  {{ end }}
  {{ with $author.image }}
    {{ partial "internal/image.html" (dict "src" . "limit" $.limit "alt" $author.name "class" $.class) }}
  {{ else }}
    {{ with $author.email }}
      <img
        src="https://www.gravatar.com/avatar/{{- md5 . -}}?s=240&d=mp"
        width="240"
        height="240"
        alt="{{ $.context.Title }}"
        loading="lazy"
        class="{{ $.class }}"
      />
    {{ else }}
      <img
        src="https://ui-avatars.com/api/?background=random&size=240&name={{- $author.name -}}"
        width="240"
        height="240"
        alt="{{ $author.name }}"
        loading="lazy"
        class="{{ $.class }}"
      />
    {{ end }}
  {{ end }}
{{ end }}
