<header class="site-header">
	<div class="site-header__container">
		<div class="site-header__top">
			<div class="site-identity">
				<a href="/">
					{{ .Site.Title }}
				</a>
				<p>{{ .Site.Params.description }}</p>
			</div>

			<div class="social-navigation">
				{{ with .Site.Author.social }}
					{{ range $index, $value := . }}
						{{ with $value }}
							<a
								href="{{- (index (where $.Site.Data.social "identifier" $index) 0).url -}}{{ $value }}"
								target="_blank"
								rel="noopener noreferrer"
								aria-label="{{ (index (where $.Site.Data.social "identifier" $index) 0).name }}"
							>
								{{ with resources.GetRemote (print "https://github.com/feathericons/feather/raw/master/icons/" $index ".svg") }}
									{{ .Content | replaceRE "<svg" "<svg aria-hidden=\"true\"" | safeHTML }}
								{{ end }}
							</a>
						{{ end }}
					{{ end }}
				{{ end }}

				<a href="/index.xml" aria-label="RSS">
					{{ with resources.GetRemote "https://github.com/feathericons/feather/raw/master/icons/rss.svg" }}
						{{ .Content | replaceRE "<svg" "<svg aria-hidden=\"true\"" | safeHTML }}
					{{ end }}
				</a>
			</div>
		</div>

		{{ partial "components/navbar.html" . }}
	</div>
</header>
