<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
	{{ partial "head.html" . }}
	<body>
		{{ partial "header.html" . }}

		{{ if and (eq .Kind "page") (eq .Type "page") }}
			{{ partial "components/breadcrumbs.html" (dict "context" . "class" "breadcrumbs breadcrumbs-post") }}
		{{ else }}
			{{ partial "components/breadcrumbs.html" (dict "context" . "class" "breadcrumbs") }}
		{{ end }}

		<main class="site-main{{ if and (eq .Kind "page") (eq .Type "page") }} site-main-post{{ end }}">
			{{ block "main" . }}{{ end }}
		</main>

		{{ partial "footer.html" . }}
	</body>
</html>
