{{ define "main" }}
	<article class="post">
		{{ if .Params.image }}
			{{ partial "components/image.html" (dict "context" . "src" .Params.image "alt" .Title "class" "post__thumbnail") }}
		{{ end }}

		<div class="post__article">
			<header>
				<div class="post-list__meta">
					<time datetime="{{ .Date }}">
						{{ .Date | time.Format ":date_long" }}
					</time>

					{{ if .Params.category }}
						{{ $category := index (.GetTerms "category") 0 }}
						&middot;
						<a href="{{ $category.RelPermalink }}">
							{{ $category.Title }}
						</a>
					{{ end }}
				</div>

				<h1>{{ .Title }}</h1>
			</header>

			<div class="post__info">
				{{ with .Site.Author.name }}
					<div class="post__author">
						{{ partial "components/avatar.html" $ }}
						<span>{{ . }}</span>
					</div>
				{{ end }}

				{{ partial "components/post-share.html" . }}
			</div>

			<div class="article">
				{{ .Content }}
			</div>

			{{ partial "components/tag-list.html" . }}
		</div>
	</article>

	{{ if or .Prev .Next }}
		<section class="post-navigation">
			{{ with .Prev }}
				<div class="post-navigation__item">
					<span>Previous</span>
					<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				</div>
			{{ end }}
			{{ with .Next }}
				<div class="post-navigation__item post-navigation__item-right">
					<span>Next</span>
					<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				</div>
			{{ end }}
		</section>
	{{ end }}
{{ end }}
